*.log
*.pyc
*.pid
*.out

*.vscode
*.idea

Runtime/*

Pyinstaller/pybuild/*

Debian/*.buildinfo
Debian/*.changes
Debian/*.deb
Debian/*/debian/*debhelper*
Debian/*/debian/*substvars
Debian/*/debian/files
Debian/lfsm-master/debian/lfsm-master
Debian/lfsm-controller/debian/lfsm-controller
Debian/lfsm-database-proxy/debian/lfsm-database-proxy
Debian/*.upload
