[Unit]
Description=Controller of Task Driven Framework for Lustre Monitoring
Documentation=https://github.com/GSI-HPC/lustre_task_driven_monitoring_framework
After=network.target lustre-nyx.mount

[Service]
Type=simple
User=lfsmon
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/install -o lfsmon -g root -d /var/run/lfsm/
ExecStart=/usr/sbin/lfsm-controller.py
RestartSec=2min
Restart=on-success

[Install]
WantedBy=multi-user.target

