#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sc)
##VERSION = 1.0
##PACKAGEVERSION = $(VERSION)-gsi+1

%:
	dh $@ --with systemd

override_dh_gencontrol:
	dh_gencontrol --

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr
